*{
    margin: 0px;
    padding: 0px
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(246, 248, 249);
}

header{
    background-color: rgb(255, 255, 255);
    height: 100px;
}

#logo{
    margin: 10px;
    margin-left: 30px;
    height: 80px;
    vertical-align: middle;
}

h1{
    display: inline-block;
    font-size: 50px;
    vertical-align: middle;
}

#container{
    width: auto;
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

#container-1{
    width: auto;
    margin-top: 5px;
    margin-left: 300px;
    margin-right: 300px;
    padding-left:60px;
    padding-bottom:60px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

#button-1{
    background-color: rgb(98, 172, 235);
    border: none;
    color: white;
    padding: 8px 18px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#button-2{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(215, 219, 222);
    color: rgb(215, 219, 222);
    padding: 6px 18px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}

ul{
    list-style-type: none;
    padding-top: 30px;
}


h2{
    display: inline-block;
    font-size: 30px
}

.rounded{
    display: inline-block;
    height: 20px;
    width: 70px;
    border-radius: 15px;
    padding: 3px;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    font-size: 13px;
    background-color: rgb(97, 170, 229);
    color: rgb(255, 255, 255);
}

#rounded-purple{
    display: inline-block;
    height: 20px;
    width: 70px;
    border-radius: 15px;
    padding: 3px;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    font-size: 13px;
    background-color: rgb(149, 119, 221);
    color: rgb(255, 255, 255);
}

#rounded-green{
    display: inline-block;
    height: 20px;
    width: 70px;
    border-radius: 15px;
    padding: 3px;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    font-size: 13px;
    background-color: rgb(123, 189, 170);
    color: rgb(255, 255, 255);
}

#rounded-orange{
    display: inline-block;
    height: 20px;
    width: 70px;
    border-radius: 15px;
    padding: 3px;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    font-size: 13px;
    background-color: rgb(230, 161, 75);
    color: rgb(255, 255, 255);
}

#rounded-pink{
    display: inline-block;
    height: 20px;
    width: 70px;
    border-radius: 15px;
    padding: 3px;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    font-size: 13px;
    background-color: rgb(202, 107, 159);
    color: rgb(255, 255, 255);
}

#rounded-light-green{
    display: inline-block;
    height: 20px;
    width: 70px;
    border-radius: 15px;
    padding: 3px;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    font-size: 13px;
    background-color: rgb(181, 199, 73);
    color: rgb(255, 255, 255);
}

p{
    display: inline-block;
    font-size: 20px;
    margin-left: 10px;
}

.symbol-green{
    margin-left: 10px;
    color: green;
}

.symbol-red{
    margin-left: 10px;
    color: red;
}


